body
{
    position: relative;
}
/* header */
.header
{
    margin: 0 auto;
    height: 60px;
    background-color: #fff;
    box-shadow:5px 5px 10px rgba(0,0,0,0.25);
}
.header a
{
    color: #000;
}
.header .selected
{
    color:#84A9FF;
}
.header .logo img
{
    float: left;
    margin:5px 30px 5px 70px;
    width: 50px;
    height: 50px;
}
.header ul li
{
    float: left;
    position: relative;
    bottom:20px;
    margin:20px 0px 0px 35px;
    padding-bottom: 16px;
    height: 60px;
    line-height:60px;
    font-size:15px;
}
.header ul li:hover
{
    border-bottom:2px solid blue;
}
.header ul li a
{
    transition: all 1s;
}
.header ul li a:hover
{
    color:#84A9FF;
}
/* 左侧导航 */
.leftnav
{
    position: fixed;
    left: 25px;
    top: 100px;
    width: 50px;
    height: 400px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
    border-radius: 30px;
    background-color: #ACEC63;
}
.leftnav ul li
{
    margin: 30px auto;
    transition: all 1s;
    width: 42px;
    height: 42px;
    background-image: url("../img/sprite.png");
    background-size: 340%;
    border-radius: 50%;
}
.leftnav ul li a
{
    display: inline-block;
    width: 42px;
    height: 42px;
}
.leftnav ul li:hover
{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
}
.leftnav ul li:nth-child(2)
{
    background-position: -42px 0px;
}
.leftnav ul li:nth-child(3)
{
    background-position: -82px 0px;
}
.leftnav ul li:nth-child(4)
{
    background-position: 0px -42px;
}
.leftnav ul li:nth-child(5)
{
    background-position: -42px -40px;
}
.bodyarticle
{
    position: relative;
    margin: 40px auto;
    overflow: hidden;
    width: 1050px;
    height: 90px;
    transition: all 3s;
    border: 2px solid #B3E5FF;
    border-radius: 10px;
    background-image: url("../img/background-color.png");
    /* 设置背景图不多张图片且自适应宽高 */
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25);
}
.bodyarticle:hover
{
    height: 6000px;
}
.bodyarticle .text
{
    margin: 0 auto;
    width: 1050px;
}
.bodyarticle .title
{
    margin: 0 auto;
    text-align: center;
    right: 240px;
    margin-bottom:10px;
}
.bodyarticle .information
{
    text-align: center;
}
.bodyarticle h3 div , .bodyarticle h4 , .bodyarticle p
{
    margin-left: 25px;
}
.bodyarticle .text .tab
{
    margin-left: 60px;
}